.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../../images/bg.png');
  background-image: cover;
  height: 100vh;
}
@media screen and (max-width: 576px) {
  .bg {
    height: 110vh;
  }
}
